@charset "utf-8";
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
dl,
dt,
dd,
input {
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  color: #3e3e3e;
}
img {
  border: none;
}
li {
  list-style: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a,
a:hover {
  text-decoration: none;
  color: #656565;
}
/*清除浮动*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
@font-face {
  font-family: 'iconfont';
  /* project id 525334 */
  src: url('//at.alicdn.com/t/font_525334_5irygf8vxx9od2t9.eot');
  src: url('//at.alicdn.com/t/font_525334_5irygf8vxx9od2t9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_525334_5irygf8vxx9od2t9.woff') format('woff'), url('//at.alicdn.com/t/font_525334_5irygf8vxx9od2t9.ttf') format('truetype'), url('//at.alicdn.com/t/font_525334_5irygf8vxx9od2t9.svg#iconfont') format('svg');
}
.iconfont,
.mintui {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont.mintui-success:before,
.mintui.mintui-success:before {
  content: '\e6d1';
}
.iconfont.mintui-common:before,
.mintui.mintui-common:before {
  content: '\e692';
}
.iconfont.mintui-vip:before,
.mintui.mintui-vip:before {
  content: '\e613';
}
.iconfont.mintui-viporder:before,
.mintui.mintui-viporder:before {
  content: '\e60b';
}
.iconfont.mintui-new:before,
.mintui.mintui-new:before {
  content: '\e64b';
}
.iconfont.mintui-search:before,
.mintui.mintui-search:before {
  content: '\e611';
}
.iconfont.mintui-order:before,
.mintui.mintui-order:before {
  content: '\e609';
}
.iconfont.mintui-collect:before,
.mintui.mintui-collect:before {
  content: '\e628';
}
.iconfont.mintui-appointment:before,
.mintui.mintui-appointment:before {
  content: '\e644';
}
.iconfont.mintui-coupon:before,
.mintui.mintui-coupon:before {
  content: '\e627';
}
.iconfont.mintui-nav:before,
.mintui.mintui-nav:before {
  content: '\e62b';
}
.iconfont.mintui-location:before,
.mintui.mintui-location:before {
  content: '\e614';
}
.iconfont.mintui-phone:before,
.mintui.mintui-phone:before {
  content: '\e64f';
}
.iconfont.mintui-code:before,
.mintui.mintui-code:before {
  content: '\e624';
}
.iconfont.mintui-tel-msg:before,
.mintui.mintui-tel-msg:before {
  content: '\e645';
}
.iconfont.icon-up:after,
.mintui.icon-up:after {
  content: '\e605';
}
.iconfont.icon-down:after,
.mintui.icon-down:after {
  content: '\e608';
}
.iconfont.icon-index:after,
.mintui.icon-index:after {
  content: '\e722';
}
.iconfont.icon-toys:after,
.mintui.icon-toys:after {
  content: '\e6e1';
}
.iconfont.icon-cart:after,
.mintui.icon-cart:after {
  content: '\e698';
}
.iconfont.icon-account:after,
.mintui.icon-account:after {
  content: '\e6b8';
}
.iconfont.icon-collect:after,
.mintui.icon-collect:after {
  content: '\e63a';
}
.iconfont.icon-delete:after,
.mintui.icon-delete:after {
  content: '\e69d';
}
.backNav {
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  height: 2rem;
  line-height: 2rem;
  background-color: #D3454F;
  color: #ffffff;
  font-weight: 800;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  padding: 0 0.7rem;
}
.backNav i {
  float: left;
  line-height: 2rem;
  font-size: 0.8rem;
}
.white-bg {
  background-color: #ffffff;
}
.container {
  margin: 0 auto;
  position: relative;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.main-box {
  width: 100%;
  min-height: 100%;
}
.padding-box {
  padding-bottom: 2.5rem;
}
.padding-top {
  padding-top: 2rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
image[lazy=loading] {
  width: 40px;
  height: 300px;
  margin: auto;
}
.loading-bottom {
  margin-top: 0.5rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
}
.mint-loadmore-bottom-to {
  margin-bottom: 0;
}
.el-checkbox__label {
  display: none;
}
.order-normal {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.order-normal p {
  font-size: 1rem;
  color: #1b6d85;
}
.userCenter {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  background-color: #f5f5f5;
}
.child-view {
  position: absolute;
  width: 100%;
  transition: all 0.8s cubic-bezier(0.55, 0, 0.1, 1);
}
.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(50px, 0);
  transform: translate(50px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-50px, 0);
  transform: translate(-50px, 0);
}
.loading-background,
.mint-loadmore-top span {
  -webkit-transition: .2s linear;
  transition: 0.2s linear;
}
.mint-loadmore-top span {
  display: inline-block;
  vertical-align: middle;
}
.mint-loadmore-top span.is-rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.page-loadmore .mint-spinner {
  display: inline-block;
  vertical-align: middle;
}
.page-loadmore-desc {
  text-align: center;
  color: #666;
  padding-bottom: 5px;
}
.page-loadmore-wrapper {
  overflow: scroll;
}
.mint-loadmore-bottom {
  margin-bottom: 0;
}
.mint-loadmore-bottom span {
  display: inline-block;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  vertical-align: middle;
}
.mint-loadmore-bottom span.is-rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.user-header .mint-cell-wrapper {
  padding: 20px 10px;
}
.user-avatar {
  border-radius: 50%;
}
.mint-cell-wrapper {
  background-image: none;
}
.mint-cell-title {
  text-align: left;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ffffff;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ffffff;
}
